* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font 18", monospace;
  font-size: 13px;
  color: #eeeeee;
}

.notification {
  background-color: rgba(20, 20, 20, 1);
  border-radius: 0px;
  padding: 10px;
  margin: 8px;
}

.notification.critical {
  background-color: rgba(150, 30, 30, 1);
}

.control-center {
  background-color: rgba(15, 15, 15, 0.8);
  border-radius: 12px;
  padding: 15px;
  margin: 8px;
}

.control-center .widget-title {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

.control-center .notification {
  background-color: rgba(25, 25, 25, 0.2);
  margin: 6px 0;
}

.icon {
  margin-right: 8px;
}

.image {
  margin-right: 8px;
}

